body{
    height: 100%;
    min-height: 100%;
}
.footer {
    text-align: center;
    clear: both;
    position: relative;
    z-index: 10;
    height: 5em;
    margin-top: 3em;
    padding: 10px;
}
header{
    font-family: 'Roboto Condensed', sans-serif;
    
}
a{
    text-decoration: underline;
}
a:link{
    color:black;
}
a:visited{
    color:red;
}
a:hover{
    font-weight:bold;
}
a:active{
    font-weight: bold;
    text-decoration: none;
}


